body {
font: 14px Arial,"Lucida Grande","Arial","Tahoma","Verdana",sans-serif;
font-family: Times New Roman;;
color:#444;
margin:0;
margin-bottom:10px;
}

.properties .label {
  text-align: right;
}

h1 { font-size: 130%; text-align: center; }

a {
text-decoration:none;
color:#0033CC;
}

a img {
border:0;
}

a:hover {
text-decoration:underline;
}

.box {
width:950px;
margin-left:auto;
margin-right:auto;
border:1px dotted #999999;
padding:5px;
background-image: url('https://github.com/Abd-ulRahman/Abd-ulRahman/blob/main/images/bg.jpg') repeat top center ;
min-height:680px;
}
