#fares {
width:950px;
margin-left:auto;
margin-right:auto;
border:1px dotted #999999;
padding:5px;
background:url('https://github.com/Abd-ulRahman/Abd-ulRahman/blob/main/images/bg.jpg') repeat top center ;
min-height:680px;
}
